body {
    font-family: "Roboto", Aptos, Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 1912px;
    background-color: white;
}

.container > * {
    padding: 0 200px;
    flex: 1;
}

ul {
    margin: 0;
    padding: 0;
}

.header, .hero, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.header, .footer{
    flex: 0;
}

.header, .hero, .random_info, .inspiration, .c2a {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px auto;
}

.logo {
    flex: 1;
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
}

.nav-links {
    flex: 3;
    display:flex;
    padding: 0px;
    justify-content: space-between;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 12px;
    margin-left: auto
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero_left, .hero-right {
    width: 45%;
    margin: 20px;
}

.hero_right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: gray;
}

.image.placeholder{
    flex: 1;
    text-align: center;
}

.hero_headline {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_text{
    font-size: 18px;
    color: #E5E7EB;
}

.random_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.random_head{
    margin:  32px auto;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random_content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.random_item {
    flex: 0;
    display: flex;
    flex-direction: column;
}

.random_image {
    min-width: 160px;
    min-height: 160px;
    gap: 20px;
    border: #3882F6 solid 3px;
    border-radius: 8px
}

.random_caption {
    text-align: center;
}

.inspiration {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.attribution {
    margin-left: auto;
    font-weight: bold;
}

.c2a_container {
    flex: 1;
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 20px;
    color: #F9FAF8;
}

.c2a_left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c2a_header {
    font-size: 24px;
    font-weight: bold;
}

.c2a_right{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}


.button {
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    margin: 8px 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border_white {
    border: 2px solid #F9FAF8;
}

.button a{
  text-decoration: none;
  color: #F9FAF8;
  font-weight: 900;
}

.footer {
    padding: 40px;
    text-align: center;
}