body {
    font-family: "Roboto", Aptos, Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    background-color: white;
}

.container > * {
    padding: 0 200px;
}

ul {
    margin: 0;
    padding: 0;
}

.header, .hero {
    background-color: #1f2937;
    color: #f9faf8;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px auto;
}

.logo {
    flex: 1;
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
}

.nav-links {
    flex: 3;
    display:flex;
    padding: 0px;
    justify-content: space-between;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 12px;
    margin-left: auto
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero_headline {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_text{
    font-size: 18px;
    color: #E5E7EB;
}

div {
    border: red dashed 1px;
}

div div {
    border: green dashed 1px;
}